

MAINSEQUENCE_TOKEN=XXX
VAM_ENDPOINT=XXX
TDAG_ENDPOINT=XXX

BINANCE_API_KEY=XXX
BINANCE_API_SECRET=XXX

ALPACA_API_KEY=XXX
ALPACA_SECRET_KEY=XXX
GITHUB_TOKEN=XXX

TDAG_RAY_CLUSTER_ADDRESS=XXX
TDAG_RAY_API_ADDRESS=XXX
TDAG_RAY_SERVE_HOST=0.0.0.0
TDAG_RAY_SERVE_PORT=8003