[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pandas-market-calendars = "*"
fire = "*"
databento = "*"


[requires]
python_version = "3.9"

[dev-packages]

[prices-alpaca]
alpaca-py = "*"

[prices-binance]
python-binance = "*"
python-coinmarketcap = "*"
pycoingecko = "*"
ccxt = "*"